input,
textarea {
    outline: none;
    text-align: center;
    caret-color: var(--mainText);
    color: var(--mainText);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    height: 1.5rem;

    &:-webkit-autofill {
        -webkit-background-clip: text;
        -webkit-text-fill-color: var(--mainText);
    }
}

.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;

    .formForgot{
        text-align: center;

        .Entête{
            margin-bottom: 10%;
            
        .h1Forgot{
            font-weight: 500;
            padding-bottom: 4%;
            color: var(--mainText);
            font-weight: 500;
        }

        .spanForgot{
            color: var(--accentText1);
            font-size: 1.1em;
            padding-bottom: 4%;
        }
    }

    .labelForgot{
        width: 90%;
    }

    
label{
    color: var(--mainText);
    font-size: 1.2rem;
  }
  
//   input{
//     width: 100%;
//       height: 1.5rem;
//     color: var(--mainText);
//     border: none;
//     border-bottom: 1px solid var(--mainText);
//     outline: none;
//     // background: transparent;
//   }


    .submitBtn{
        color: var(--mainText);
        text-decoration: none;
        font-size: 1.5rem;
        border: none;
        background: none;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin-top: 2.5rem;
        cursor: pointer;
        
      }
      
      .submitBtn::before {
        margin-left: auto;
      }
      
      .submitBtn::after, .submitBtn::before {
        content: '';
        width: 0%;
        height: 1px;
        background: var(--accentText1);
        display: block;
        transition: 0.5s;
        
      }
      
      .submitBtn:hover::after, .submitBtn:hover::before {
        width: 100%;
      }

    }

    
}




.feedback {
    color: rgb(245, 34, 34);
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-top: .2rem;
  }
  
  .feedbackGood {
    color: rgb(51, 228, 51);
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-top: .2rem;
  }