.mainDiv{
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.feedback {
    color: rgb(245, 34, 34);
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-top: .2rem;
  }
  
  .feedbackGood {
    color: rgb(51, 228, 51);
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-top: .2rem;
  }