:root{
    --primary: #163739;
    --secondary: #294749;
    --accent: #FF9900;
    --mainText: #FFFFFF;
    --accentText1: #FF9900;
    --accentText2: #163739;
    --font-family: 'Poppins', sans-serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: rgb(0 0 0 / 22%) 0 2px 18px 0;
    // --------------------- Fontsize
    --font-size-100: 1em;
    --font-size-200: 2em;
    --font-size-300: 3em;
    --font-size-400: 4em;
    --font-size-500: 5em;
    --font-size-600: 6em;
    --font-size-700: 7em;
    // -------------------- Margin / Padding
    --margin-5: 5%;
    --margin-10: 10%;
    --margin-15: 15%;
    --margin-20: 20%;
    --margin-25: 25%;
    --margin-30: 30%;
    --margin-35: 35%;
    --margin-40: 40%;
    --margin-45: 45%;
    --margin-50: 50%;
    --margin-60: 60%;
    --margin-70: 70%;
    --margin-80: 80%;
    --margin-90: 90%;
    --margin-100: 100%;
    // ----
    --margin-l-5: 5%;
    --margin-l-10: 10%;
    --margin-l-15: 15%;
    --margin-l-20: 20%;
    --margin-l-25: 25%;
    --margin-l-30: 30%;
    --margin-l-35: 35%;
    --margin-l-40: 40%;
    --margin-l-45: 45%;
    --margin-l-50: 50%;
    --margin-l-60: 60%;
    --margin-l-70: 70%;
    --margin-l-80: 80%;
    --margin-l-90: 90%;
    --margin-l-100: 100%;
    // ----
    --margin-r-5: 5%;
    --margin-r-10: 10%;
    --margin-r-15: 15%;
    --margin-r-20: 20%;
    --margin-r-25: 25%;
    --margin-r-30: 30%;
    --margin-r-35: 35%;
    --margin-r-40: 40%;
    --margin-r-45: 45%;
    --margin-r-50: 50%;
    --margin-r-60: 60%;
    --margin-r-70: 70%;
    --margin-r-80: 80%;
    --margin-r-90: 90%;
    --margin-r-100: 100%;
    // ----
    --margin-t-5: 5%;
    --margin-t-10: 10%;
    --margin-t-15: 15%;
    --margin-t-20: 20%;
    --margin-t-25: 25%;
    --margin-t-30: 30%;
    --margin-t-35: 35%;
    --margin-t-40: 40%;
    --margin-t-45: 45%;
    --margin-t-50: 50%;
    --margin-t-60: 60%;
    --margin-t-70: 70%;
    --margin-t-80: 80%;
    --margin-t-90: 90%;
    --margin-t-100: 100%;
    // ----
    --margin-b-5: 5%;
    --margin-b-10: 10%;
    --margin-b-15: 15%;
    --margin-b-20: 20%;
    --margin-b-25: 25%;
    --margin-b-30: 30%;
    --margin-b-35: 35%;
    --margin-b-40: 40%;
    --margin-b-45: 45%;
    --margin-b-50: 50%;
    --margin-b-60: 60%;
    --margin-b-70: 70%;
    --margin-b-80: 80%;
    --margin-b-90: 90%;
    --margin-b-100: 100%;


}

