.mainDiv{
    width: 80%;
    margin: 0 auto;
    color: var(--mainText);
    margin-top: 7rem;

    .titleAv{
        margin-bottom: 5rem;
        .h2TitleAv{
            font-weight: 500;
            font-size: 3rem;
            letter-spacing: 0.2rem;
        }
        p{
            font-weight: 200;
            font-size: 1.1rem;            
        }
    }

    .mangaAv{
        display: flex;
        justify-content: center;
        gap: 3rem;
        .imgAv{
            width: 40%;
            img{
                border-radius: 5px;
            }
        }
        .textAv{
            width: 33%;
            justify-self: center;
            align-self: center;
            .titleTextAv{
                margin-bottom: 4rem;
                h3{
                    font-size: 2rem;
                    font-weight: 500;
                }
                span{
                    color: grey;
                    
                }
            }
            .synopsisAv{
                background-color: var(--secondary);
                border-radius: 5px;
                font-size: 1.2rem;
                font-weight: 200;
                padding: 1rem;
            }
        }
    }

    .btnAv{
        margin-top: 3rem;
        margin-left: 79%;
    }
}

