.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.overlay.active {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.modal {
  background: var(--secondary);
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  width: 50%;

  p {
    margin: 0 auto;
    width: 80%;
    color: var(--mainText);
    margin-bottom: 2%;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    padding-bottom: 3%;
    padding-top: 2%;
  }

  .span {
    color: rgb(206, 55, 55);
    font-weight: 900;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
  }
  // ----------
  button {
    margin: 4%;
    margin-top: -4%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .btn:hover {
    background-color: rgb(243, 46, 46);
    color: var(--mainText);
    transform: scale(1.05);
  }

  .btn:active {
    transform: scale(0.95);
  }
}

@media (max-width: 990px) {
  .modal {
    width: 100vw;
    border-radius: 0px;
  }
}
