// .background{
//     background-color: var(--primary);
// }
img{
    width: 100%;
}

.title{
    flex-direction: column;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 5rem;
    color: var(--mainText);
        h1{
            font-weight: 500;
            letter-spacing: 0.2rem;
            font-size: 3rem;
        }

        p{
            font-weight: 200;
            font-size: 1.1rem;
        }
    
}

.mangaPopulaire{
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    
    .mangaA1{
        width: 19%;
        align-self: center;
        justify-content: center;
        margin: 1rem; 
        margin-top: 1.5rem;  
        img{
            border-radius: 15px;
        } 
    }
    .mangaA2{
        width: 50%;
        display: flex;
        justify-content: center;
        
    }
    
    .mangaC1{
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        img{
            border-radius: 15px;
        }
    }

    
}

.btnPopulaire{
    margin-top: 3rem;
    margin-left: 73%;
}

    




