.mainDiv{
    width: 80%;
    margin: 0 auto;
    color: var(--mainText);
    margin-top: 7rem;
    display: flex;
    justify-content: center;

    .book1{
        background-color: var(--secondary);
        width: 35%;
        height: 30rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        h4{
            color: var(--accent);
            font-size: 1.2rem;
            margin-top: 2rem;
            margin-bottom: 3rem;

        }
        p{
            font-weight: 300;
            width: 60%;
            margin-bottom: 2rem;
            margin-left: -4rem;
            text-align: start;
        }
        span{
            font-weight: 300;
            width: 60%;
            margin-left: -4rem;
            text-align: start;
        }
    }

    .book2{
        background-color: var(--accent);
        width: 25%;
        height: 20rem;
        border-radius: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-end;
        margin-left: -5rem;
        h4{
            color: var(--mainText);
            font-size: 1.1rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 80%;
        }
        p{
            color: var(--secondary);
            font-weight: 400;
            width: 70%;
            margin-bottom: 2rem;
            font-size: 0.9rem;
        }
    }
}