@import "tailwindcss";



@theme {
  --color-white: #ffffff;
  --color-dark-bg: #171219;
  --color-light-bg: #2c2c3c;
  --color-text-title: #edf060;
  --color-text-color: #ffffff;
  --color-red-btn: #ff4345;
  --color-white-btn: #ffffff;
  --color-accent: #edf060;
  --color-accent-hover: #2d2821;
  --color-btn-color: #d4d44d;

  --font-text: "Poppins", "sans-serif"
  --font-title: "Monserrat", "sans-serif"

  ---3xl: "1920px"

}

/* --- Poppins --- */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* --- Montserrat --- */
@font-face {
  font-family: "Montserrat";
  src: url("./assets//fonts//Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* --- OpenDyslexic --- */
@font-face {
  font-family: "OpenDyslexic";
  src: url("./assets/fonts/OpenDyslexic/OpenDyslexic-Regular.woff2")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("./assets/fonts/OpenDyslexic/OpenDyslexic-Bold.woff2")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}


@layer base {
  body {
    @apply font-text bg-dark-bg text-text-color transition-colors duration-500 ease-in-out;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@media (min-width: 1920px) {
  .carousel-3xl-height {
    height: calc(100vh - 80px) !important;
  }
}

.description {
  text-indent: 0.5em; /* Ajoute un alinéa */
  letter-spacing: 0.01rem;
}

.description::first-letter {
  font-size: 2em; /* Agrandit la première lettre */
  font-weight: 600; /* Rend la première lettre en gras */
  margin-right: 0.1rem;
}

/* Masquer la barre de défilement pour les navigateurs WebKit (Chrome, Safari) */
.scrollBar::-webkit-scrollbar {
  display: none;
}

/* Masquer la barre de défilement pour Firefox */
.scrollBar {
  scrollbar-width: none; /* Masque la barre de défilement */
}

/* Masquer la barre de défilement pour Internet Explorer et Edge */
.scrollBar {
  -ms-overflow-style: none; /* Masque la barre de défilement */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
